<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package meetingId="Autofac" version="4.9.2" targetFramework="net461" />
  <package meetingId="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package meetingId="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net461" />
  <package meetingId="Prism.Core" version="7.1.0.431" targetFramework="net461" />
</packages>